<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="./dist/styles/iview.css">
    <script type="text/javascript" src="./dist/vue.js"></script>
    <script type="text/javascript" src="./dist/vue-resource.js"></script>
    <script type="text/javascript" src="./dist/iview.js"></script>
    <script type="text/javascript" src="./dist/sy-common.js"></script>
</head>

<body>
    <div id="app">
        <i-button type="primary" size="large" @click="newlist">新增列表定义</i-button>
        <i-Table v-bind:columns="columns1" v-bind:data="data1"></i-Table>
        <Modal v-model="modal1" title="列表定义" @on-ok="ok" @on-cancel="cancel">
            <Row>
                <i-Col span="3"><span>列表名称</span></i-Col>
                <i-Col span="9">
                    <i-Input v-model="formItem.Name" placeholder=""></i-Input>
                </i-Col>
                <i-Col span="6">列表描述</i-Col>
                <i-Col span="6">
                    <i-Input v-model="formItem.Description" placeholder=""></i-Input>
                </i-Col>
            </Row>
            <i-Table v-bind:columns="columns2" v-bind:data="data2"></i-Table>
        </Modal>
    </div>
    <script>
        var curInstance = new Vue({
            el: '#app',
            data: {
                modal1: false,
                columns1: [
                    {
                        title: '名称',
                        key: 'Name',
                        sortable: true,
                        render: function (h, params) {
                            return h('div', [
                                h('Icon', {
                                    props: {
                                        type: 'person'
                                    }
                                }),
                                h('strong', params.row.Name)
                            ]);
                        }
                    },
                    {
                        title: '描述',
                        key: 'Description'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 150,
                        align: 'center',
                        render: function renderM(h, params) {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: function () {
                                            curInstance.showListDefinition(params.index);
                                        }
                                    }
                                }, '查看'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: function () {
                                            curInstance.editListDefinition(params.index);
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: function () {
                                            console.log(params.index);
                                        }
                                    }
                                }, '删除')
                            ]);
                        }
                    }
                ],
                data1: [],
                columns2: [
                    {
                        title: '名称',
                        key: 'Name'
                    },
                    {
                        title: '类型',
                        key: 'Type'
                    },
                    {
                        title: '条件',
                        key: 'Condition'
                    },
                    {
                        title: '描述',
                        key: 'Description'
                    }
                ],
                data2: [],
                formItem: {
                    Name: '',
                    Description: ''
                },
                apiUrl: 'http://localhost:8001/api/lists',
            },
            created: function () {
                this.getCustomers()
            },
            methods: {
                newlist() {
                    this.modal1 = true;
                },
                ok() {
                    this.createCustomer();
                },
                cancel() {
                    this.$Message.info('点击了取消');
                },
                closeDialog: function () {
                    this.show = false
                },
                getCustomers: function () {
                    var vm = this;
                    vm.$http.get(vm.apiUrl)
                        .then((response) => {
                            //if (response.data.length > 0)
                            vm.data1 = response.data;
                        })
                },
                createCustomer: function () {
                    var vm = this;
                    vm.$http.post(vm.apiUrl, vm.formItem)
                        .then((response) => {
                            vm.formItem = {};
                            vm.getCustomers();
                            vm.$Message.info('点击了确定');
                        })
                    this.show = false
                },
                showListDefinition: function (index) {
                    var vm = this;
                    vm.modal1 = true;
                    console.log(vm.data1[index]);
                    vm.formItem = vm.data1[index];
                },
                editListDefinition: function (index) {
                    var vm = this;
                    console.log(index);
                    window.open('ListDefinition.html?listid=' + vm.data1[index].Id);
                }
            }
        })
    </script>
</body>

</html>