<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="./dist/styles/iview.css">
    <script type="text/javascript" src="./dist/vue.js"></script>
    <script type="text/javascript" src="./dist/vue-resource.js"></script>
    <script type="text/javascript" src="./dist/iview.js"></script>
    <script type="text/javascript" src="./dist/sy-common.js"></script>
</head>

<body>
    <div id="app">
        <i-button type="primary" size="large" @click="newfield">新增字段</i-button>
        <i-Table v-bind:columns="columns2" v-bind:data="data2"></i-Table>
        <Modal v-model="modal1" title="字段定义" @on-ok="ok" @on-cancel="cancel">
            <Row>
                <i-Col span="3"><span>字段名称</span></i-Col>
                <i-Col span="9">
                    <i-Input v-model="formItem.Name" placeholder=""></i-Input>
                </i-Col>
                <i-Col span="6">字段描述</i-Col>
                <i-Col span="6">
                    <i-Input v-model="formItem.Description" placeholder=""></i-Input>
                </i-Col>
            </Row>
            <i-Table v-bind:columns="columns2" v-bind:data="data2"></i-Table>
        </Modal>
    </div>
    <script>
        var curInstance = new Vue({
            el: '#app',
            data: {
                modal1: false,
                columns2: [
                    {
                        title: '名称',
                        key: 'Name'
                    },
                    {
                        title: '类型',
                        key: 'Type'
                    },
                    {
                        title: '条件',
                        key: 'Condition'
                    },
                    {
                        title: '描述',
                        key: 'Description'
                    }
                ],
                data2: [],
                formItem: {
                    Name: '',
                    Description: ''
                },
                apiUrl: 'http://localhost:8001/api/fields',
            },
            created: function () {
                this.getListDefinition()
            },
            methods: {
                newfield() {
                    this.modal1 = true;
                },
                ok() {
                    this.createCustomer();
                },
                cancel() {
                    this.$Message.info('点击了取消');
                },

                closeDialog: function () {
                    this.show = false
                },
                getListDefinition: function () {
                    var vm = this;
                    vm.$http.get(vm.apiUrl)
                        .then((response) => {
                            vm.data1 = response.data;
                        })
                },
                createCustomer: function () {
                    var vm = this;
                    vm.$http.post(vm.apiUrl, vm.formItem)
                        .then((response) => {
                            vm.formItem = {};
                            vm.getCustomers();
                            vm.$Message.info('点击了确定');
                        })
                    this.show = false
                }
            }
        })
    </script>
</body>

</html>